<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Travel in</title>
    <link rel="icon" href="./logo.jpg" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <!-- <a href="#content" class="skip-link">skip</a> -->

    <nav class="navbar">
      <div class="brand">
        <!-- Nama aplikasi-->
        <h1>Travel in</h1>
      </div>
      <button id="menu_hamburger" class="hamburger-btn">☰</button>
      <ul id="navigation_drawer" class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">Budaya</a></li>
        <li><a href="#">Pariwisata</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>

    <main></main>

    <footer class="footer">
      <p tabindex="0">&copy; 2024 - Travel in</p>
    </footer>
  </body>
</html>
