<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel in</title>
    <link rel="icon" href="./logo.jpg" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="navbar-brand">
            <!-- Logo -->
            <img src="./logo-tanpa-bg.png" alt="Logo" class="logo-img" />
            <!-- Nama aplikasi-->
            <h1 class="h3 text-white">Travel in</h1>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="#/beranda">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#/budaya">Budaya</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#/pariwisata">Pariwisata</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#/about">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container mt-4" id="main-content"></main>

    <footer class="footer bg-teal py-3">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="text-center d-flex align-items-center">
          <img src="./logo-tanpa-bg.png" alt="Logo" class="logo-img mr-2" />
          <p class="mb-0">&copy; 2024, Travel in.</p>
        </div>
        <div class="links">
          <a href="https://github.com/lailatulcaris/capstone-dicoding" class="mr-3"><i class="bi bi-github github-icon"></i></a>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module">
      import { Beranda } from "./Beranda.js";
      import Budaya from "./Budaya.js";

      const routes = {
        "/beranda": Beranda,
        "/budaya": Budaya,
        // Tambahkan rute lainnya di sini jika diperlukan
      };

      const renderPage = async () => {
        const path = window.location.hash.substr(2) || "/beranda";
        const page = routes[path] || Beranda;
        const mainContent = document.getElementById("main-content");
        mainContent.innerHTML = await page.render();
        await page.afterRender();
      };

      window.addEventListener("hashchange", renderPage);
      window.addEventListener("DOMContentLoaded", renderPage);
    </script>
  </body>
</html>
