/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Wrapper untuk konten utama */
main {
  flex: 1;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006769;
  color: white;
  padding: 10px 20px;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand h1 {
  margin: 0;
  font-size: 2em;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

.nav-menu a:hover {
  color: #bf1722;
}

.hamburger-btn {
  display: none;
}

/* Footer Section */
.footer {
  background-color: #006769;
  color: white;
  text-align: center;
  padding: 20px 0;
}
