html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f4e1;
}

body {
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
}

/* Wrapper untuk konten utama */
main {
  flex: 1;
}

a {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

.carousel-item img {
  width: 100%;
  height: 580px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
  object-fit: cover; /* Memastikan gambar di-crop sesuai ukuran container */
  object-position: center; /* Memusatkan gambar */
}

#carouselExampleIndicators {
  max-width: 1900px; /* Sesuaikan lebar carousel sesuai kebutuhan */
  margin: auto; /* Untuk membuat carousel berada di tengah */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Pastikan teks berada di lapisan terdepan */
  text-align: center; /* Agar teks berada di tengah */
  width: 80%;
}

.carousel-caption p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Menambahkan shadow */
  animation: fadeInDown 1s ease forwards;
  opacity: 0;
  font-size: 3rem; /* Ukuran font yang diperbesar */
  font-weight: bold; /* Membuat teks lebih tebal */
  color: #fff; /* Pastikan teks berwarna putih atau sesuai kebutuhan */
}

/* Menambahkan animasi untuk teks */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centers items vertically */
  background-color: #b47552;
  color: white;
  padding-top: 20px;
  box-shadow: 0 10px 15px rgba(212, 144, 19, 0.2);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
  transition: all 0.3s;
}

.navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6f4e37;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.navbar-nav .nav-item .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo-img {
  width: 50px; /* Sesuaikan ukuran gambar logo */
  height: auto; /* Sesuaikan ukuran gambar logo */
  margin-right: 10px; /* Beri jarak antara gambar dan teks */
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);
  opacity: 0.9;
}

.h3 {
  margin: 0; /* Hilangkan margin default dari elemen h1 */
}

.brand {
  display: flex;
  align-items: center; /* Centers brand vertically */
}

.brand h1 {
  margin: 0;
  font-size: 2em;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center; /* Centers nav items vertically */
}

.nav-menu li {
  position: relative; /* Needed for the ::after pseudo-element */
  margin-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  position: relative; /* Needed for the ::after pseudo-element */
}

.nav-menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #bf1722;
  transition: width 0.4s ease, right 0.4s ease;
}

.nav-menu a:hover::after {
  width: 100%;
  right: 0;
}

.hamburger-btn {
  display: none;
}

/* search */
.form-control {
  width: 50%;
}

/* Footer Section */
.footer {
  background-color: #b47552;
  color: white;
  box-shadow: 0 0 15px rgba(223, 127, 17, 0.4); /* Mengubah nilai offset y menjadi 0 */
  margin-top: 0px;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.github-icon {
  font-size: 30px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
}

.link-text {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d49e7b;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.link-text:hover {
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  background: transparent;
  backdrop-filter: blur(5px);
}

/* card */
#culture-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  transition: all 200ms ease-in;
}

.culture-card {
  flex: 0 0 calc(20% - 15px); /* Menyesuaikan lebar kolom untuk 5 kolom */
  padding-bottom: 10%;
  overflow: hidden;
  position: relative;
}

.culture-container{
  margin: auto;
}

.culture-card .card {
  height: 100%; /* Pastikan setiap kartu memiliki tinggi yang sama */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9; /* Warna latar belakang kartu */
  border-radius: 20px; /* Border radius untuk sudut */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan kartu */
  overflow: hidden;
  transition: transform 200ms ease; /* Efek transisi saat kartu bergerak */
}

.culture-card .card-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.culture-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #333; /* Warna judul */
}

.culture-card .card-text {
  font-size: 1rem;
  margin-top: auto; /* Menempatkan "Province" dan "Address" di bagian atas */
  color: #666; /* Warna teks */
}

.card:hover,
.card:focus-visible {
  scale: 1.05;
  box-shadow: 0 2px 4px 2px #33333377;
}

.card-title-custom {
  background-color: #d49e7b;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px; /* Menjadikan semua sudut menjadi melengkung */
  text-align: center; /* Untuk membuat teks berada di tengah */
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover,
.card-link:focus {
  color: black; /* Warna teks tetap hitam saat hover */
}

.card-img-container {
  width: 100%;
  height: 200px; /* Sesuaikan tinggi gambar */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.container {
  width: 90%;
  margin: auto;
}

#tour-details,
#culture-details {
  /* background: linear-gradient(to bottom, #d49e7b, #fff, #fff8e1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

  border-radius: 8px;
  padding: 2rem;
  
  box-shadow: 0px 0px 20px -1px rgba(163, 114, 57, 0.59);
  -webkit-box-shadow: 0px 0px 20px -1px #b47552;
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.59);
}

.tour-header,
.culture-header {
  text-align: center;
  margin-bottom: 2rem;
}

.tour-images,
.culture-images {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.tour-images img,
.culture-images img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.tour-description,
.culture-description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.tour-info,
.culture-info {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.section-title h2 {
  display: inline-block;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #d49e7b, #6f4e37, #d49e7b) 1;
}

.section-title {
  margin-bottom: 30px; /* Jarak dari judul ke kartu */
}

.whatsapp-float {
  position: fixed;
  width: 20px; /* Adjust the width */
  height: 40px; /* Adjust the height */
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.whatsapp-icon {
  font-size: 25px; /* Adjust the font size */
  color: white;
}

/* Add this CSS to your stylesheet */

.text-center {
  text-align: center;
}

.title-with-border {
  position: relative;
  display: inline-block;
  margin: 0 auto 20px auto;
  padding-bottom: 10px;
}

.title-with-border::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #d49e7b, #6f4e37, #d49e7b);
  position: absolute;
  bottom: 0;
  left: 0;
}

.review-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s; */
}

.review-card:hover {
  transform: scale(1.05);
}

.review-card .card-body {
  padding: 20px;
}

.review-card .card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.review-card .card-text {
  font-size: 0.9rem;
  color: #555;
}

.whatsapp-float {
  position: fixed;
  width: 60px; /* Adjust the width */
  height: 60px; /* Adjust the height */
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.whatsapp-icon {
  font-size: 25px; /* Adjust the font size */
  color: white;
}

/* about bawah */
.custom-container {
  padding: 20px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.sinematik-image {
  max-width: 400px; /* Mengatur lebar maksimum gambar */
  margin: 0 auto 20px; /* Mengatur margin bawah gambar */
  display: block;
  transition: transform 0.3s;
}

.sinematik-image:hover {
  transform: scale(1.1); /* Efek scale saat hover */
}

.sinematik-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #b47552;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  animation: textFadeIn 3s ease-in-out;
  max-width: 500px; /* Mengatur lebar maksimum teks */
  margin: 0 auto; /* Pusatkan teks secara horizontal */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Kartu About */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s, box-shadow 0.3s; */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Teks Tengah */
.text-center {
  text-align: center;
}

/* Efek Hover pada Tombol */
.btn-primary {
  background-color: #6f4e37;
  border-color: #6f4e37;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #b47552;
  border-color: #b47552;
}

/* Border bawah judul */
.title-with-border {
  position: relative;
  display: inline-block;
  margin: 0 auto 20px auto;
  padding-bottom: 10px;
}

.title-with-border::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #d49e7b, #6f4e37, #d49e7b);
  position: absolute;
  bottom: 0;
  left: 0;
}
