.carousel-image {
  object-fit: cover;
  height: 60vh; 
}

@media (max-width: 992px) {
  .carousel-caption {
    font-size: 1rem;
    text-align: center;
  }

  .carousel-caption p {
    margin: 0;
  }

  .review-card {
    margin-bottom: 1rem;
  }

  .review-card .card-body {
    text-align: center;
  }

  .review-card .card-title {
    font-size: 1.1rem;
  }

  .review-card .card-text {
    font-size: 0.9rem;
  }

  .review-card img {
    margin-bottom: 1rem;
  }

  #reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #reviews-container .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    font-size: 0.9rem;
    text-align: center;
    bottom: 20px;
  }

  .carousel-caption p {
    margin: 0;
    display: block;
  }

  .carousel-inner img {
    height: 60vh;
    object-fit: cover;
    width: 100%;
  }

  .carousel-item {
    height: 60vh;
  }

  .section-title h2 {
    font-size: 1.5rem;
  }

  .link-text {
    font-size: 1rem;
  }

  .review-card .card-body {
    padding: 1rem;
  }

  .review-card .card-title {
    font-size: 1rem;
  }

  .review-card .card-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    font-size: 0.8rem;
    text-align: center;
    bottom: 15px;
  }

  .carousel-caption p {
    margin: 0;
    display: block;
    font-size: 2rem;
  }

  .carousel-inner img {
    height: 60vh;
    object-fit: cover;
    width: 100%;
  }

  .carousel-item {
    height: 60vh;
  }

  .section-title h2 {
    font-size: 1.2rem;
  }

  .link-text {
    font-size: 0.9rem;
  }

  .col-lg-3, .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .mb-4 {
    margin-bottom: 1.5rem;
  }

  .form-control {
    width: 90%;
  }
  
  .sinematik-image {
    max-width: 300px;
  }

  .review-card .card-title {
    font-size: 0.9rem;
  }

  .review-card .card-text {
    font-size: 0.7rem;
  }

  .review-card img {
    width: 50px;
    height: 50px;
  }
}
